a {
  color: #cc640e !important;
}

img, .logo-image {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.logo-image {
  max-width: 60% !important;
  max-height: 95% !important;
}

backquote, .reveal p, .reveal li, #credit {
  font-family: "brandon-grotesque" !important;
  font-weight: 300 !important;
}

backquote {
  font-style: italic;
  font-weight: 100 !important;
}

.first-slide p, .first-slide a, .first-slide h1, .first-slide h2, .first-slide li {
  color: #F9E3D2 !important;
}

code {
  font-family: "letter-gothic-std" !important;
}

.reveal h1 {
  font-family: "ff-enzo-web" !important;
  font-weight: 500;
  text-transform: none !important;
  font-size: 2.6em;
}

.reveal h2 {
  font-family: "ff-enzo-web" !important;
  font-weight: 500;
  text-transform: none !important;
  font-size: 2.2em !important;
}

h2.smaller {
  font-size: 1.8em !important;
}

.reveal h3 {
  font-family: "ff-enzo-web" !important;
  font-weight: 500;
  text-transform: none !important;
  font-size: 1.2em !important;
}

#credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
  padding: 1em;
  border-radius: 6px;
  font-size: 1.5em;
}

#credit a {

  text-decoration: none !important;
}

.reveal pre code {
  background:none;
  color: #565459;
}

.reveal pre {
  box-shadow: none;
}

.present.image-section  {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 75px 50px;
  /*border-radius: 8px;*/
}

.present.more-opaque {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 75px 50px;
}

.present.even-more-opaque {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(255, 255, 255, 0.9) 0px 0px 75px 50px;
}

.good {
  color: #1c6b2a;
}

.not-so-good {
  color: #8b2e17;
}